{% extends  "web/temp.html"%}
{%load static%}
{% block content %}
<div class="col-4"></div>
<div class="col-4">
  <div class="card mt-5">
    <div class="card-header">
    user login
    </div>
    <div class="card-body">
        <form method="post" action="/login/signin/">
            {%csrf_token%}
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">username</label>
              <input type="text" name="uname" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
              
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Password</label>
              <input type="password" name="pass"class="form-control" id="exampleInputPassword1">
            </div>
            <div class="mb-3 form-check">
              <input type="checkbox" class="form-check-input" id="exampleCheck1">
            
            </div>
            {%if messages%}
            {%for message in messages%}
          
              <div class="alert alert-danger" role="alert">
                {{message}}
              </div>
            {%endfor%}
            {%endif%}

            <button type="submit" class="btn btn-primary">Submit</button>
         
          </form>

    </div>
</div>
</div>
<div class="col-4"></div>
{%endblock content%}