
{% extends 'accountant/layout.html'%}
{% if request.user.is_authenticated %}
{% block content %}
{% load crispy_forms_tags %}
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <div class="card">
  {% if messages %}
   {%for message in messages%}
   <div class="alert alert-warning alert-dismissible fade show" role="alert">
    {{message}}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  
   {%endfor%}
   {% endif %}
   <div class="card-header bg-secondary text-white">MAKE FOOD PAYMENTS FOR STUDENTS</div>
            <div class="card-body">
                <form method="POST" action="{% url 'food_fee'%}">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <br>
                    <button class="btn btn-primary">Record payment</button>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-2"></div>
</div>

</div>
{% endblock content%}

{% else %}
<h1>OOOOOPS !!!!!!!!!!!!!!!!!!</h1>
{% endif %}