{% extends 'headmaster/layout.html'%}
{% block content %}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.css">

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header bg-secondary text-white">SEARCH STUDENT DETAILS FROM HERE</div>
            <div class="card-body">
             
                <table id="table_id" class="display">
                    <thead>
                        <tr>
                            <th>First name</th>
                            <th>Last Name</th>
                            <th>Parent Name</th>
                            <th>Action1</th>
                            <th>Action2</th>
                            <th>Action3</th>
                            <th>Action4</th>
                            <th>Action5</th>
                        </tr>
                    </thead>
                    <tbody>
                        {%for student in students%}
                        <tr>
                            <td>
                                {{ student.First_Name }}
                            </td>
                            <td>
                                {{ student.First_Name }}
                            </td>
                            <td>
                                {{ student.First_Name }}
                            </td>
                            <td>
                                <a href="{% url 'Student_fee_detail' student.id %}" class="btn btn-info">Fee</a>
                            </td>
                            <td>
                                <a href="{% url 'Student_food_detail' student.id %}" class="btn btn-primary">Food</a>

                            </td>
                            <td>
                                <a href="{% url 'Student_uniform_detail' student.id %}" class="btn btn-secondary">Uniform</a>
                            </td>
                            <td>
                                <a href="{% url 'Student_transport_details' student.id %}" class="btn btn-secondary">Transport</a>
                            </td>
                            <td>
                                <a href="{% url 'Student_transport_details' student.id %}" class="btn btn-success">Update</a>
                            </td>
                        </tr>

                        {%endfor%}
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"></script>
<script>
    $(document).ready(() => {
        $(document).ready(function () {
            $('#table_id').DataTable();
        })
    });

</script>
{% endblock content%}